@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.layout{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
}

/* _____header_________ */

.header {
  width: 100%;
  height: 80px;
  padding: 10px 30px;
  background: rgb(234, 234, 234);
}

nav .fa-solid{
  display: none;
}

.header nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end ;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}

.navbar ul li::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: gray;
  margin: auto;
}

.navbar ul li:hover:after{
  width: 100%;
}

.navbar .login {
  font-size: 16px;
}

/* _________Footer__________ */

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: black;
  color: white;
}

.footer .footerContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .footerContainer .socialLinks{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footerContainer .socialLinks .links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer .footerContainer .socialLinks .links i{
  font-size: 20px;
  color: white;
  transition: all ease-in-out 0.2s;
}

.footer .mainBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer h2 {
  font-size: 24px;
  font-weight: bold;
}

.footer .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.footer .box2 h2 {
  text-align: right;
}

/* __________________________HomePage__________________________________ */

main {
  background-color: black;
  color: white;
}

main .block {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

main .block1 .hero {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .block1 .hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

main .block1 .hero p {
  font-size: 24px;
}

main .block2 {
  background: white;
  color: black;
  padding: 10px 40px;
  border-bottom: 1px solid black;
}

main .block2 .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .block2 .container #first {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}


main .block2 .container #second .box-container{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

main .block2 .container #second .box-container .box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}

main .block2 .container #second .box .imgBox {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

main .block2 .container #second .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

main .block2 .container #second .box .text-box{
  width: 80%;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .block2 .container #second .box .text-box h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

main .block2 .container #second .box:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px gray;
}

/* Ebooks */

main .block3 .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .block4 {
  background-color: #f9f9f9; /* Light background */
  padding: 50px 0;
  text-align: center;
  color: gray
}

main .block4 .container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .block4 .container .circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main .block4 .container .circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .block4 .container .info{
  max-width: 500px;
  text-align: center;
  /* margin-left: 20px; */
  margin: 10px;
}  

main .block4 .container .info h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

main .block4 .container .info p{
  font-size: 20px;
}

/* -------SignUp form-------------------- */
#form-container{
  background: white;
  color: white;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.inner-container{
  border: 1px solid black;
  border-radius: 10px;
  width: 450px;
  color: black;
  padding: 30px 20px; 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 5px 5px 20px gray;
}

.inner-container h2{
  font-size: 24px;
}

.inner-container p{
  font-size: 20px;
}

.inner-container p .login{
  color: blue;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

form .input{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 5px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.input-field{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* -----------------button------------------------ */

.button{
  width: 200px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: black;
  color: white;
  padding: 10px 5px ;
}


/* -------------------------PostForm-------------------------- */

.postFormContainer{
  min-height: 100vh;
  width: 100%;
}

.postForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

.postForm .RTEcontainer{
  width: 600px;
}

.postForm .postFormRight{
  align-self: flex-start;
}

/* ------------------Post---------------------- */

#postContainer{
  width: 70%;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#postContainer #title{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

#postContainer #postImage {
  align-self: center;
  width: 100%;
  /* width: 100%; */
  display: flex;
  justify-content: center; /* Centers the image */
  align-items: center;
  overflow: hidden; /* Ensures no overflow */
  border-radius: 8px;
}

#postContainer #postImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#postContainer #textContent h1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#textContent {
  line-height: 1.8;
  color: #333;
}

#textContent>div{
  display: block;
  width: 100%;
}

.rte{
  z-index: 1;
}



#textContent p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  display: block;
  width: 100%;
}

#textContent strong {
  font-weight: 600;
}

#textContent em {
  font-style: italic;
}

#textContent br {
  display: block;
  content: "";
  margin-top: 0.5rem;
}
/* _-------------------------------------------------------------------- */

#showAllPosts{
  width: 100%;
  height: 100%;
}

#showAllPosts #displayPosts {
  width: 90%;
  margin: 20px auto;
}

#showAllPosts #displayPosts .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

#showAllPosts #displayPosts .box-container .box{
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}

#showAllPosts #displayPosts .box-container .box .imgBox {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#showAllPosts #displayPosts .box-container .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#showAllPosts #displayPosts .box-container .box .text-box{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#showAllPosts #displayPosts .box-container .box .text-box h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#showAllPosts #displayPosts .box-container .box:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px gray;
}






/* _----------Mobile devices______________________ */


@media (max-width: 450px){
  .navbar{
    position: absolute;
    background: white;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    z-index: 2;
    transition: all ease-in 0.3s;
  }

  .navbar ul li{
    display: block;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .login{
    text-align: left;
  }

  nav .fa-solid{
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .navbar.open{
    right: 0;
  }

  main .block1 .hero h1{
    font-size: 20px;
  }

  main .block1 .hero p{
    font-size: 16px;
  }

  main .block1 .hero{
    width: 80%;
  }
  
  main .block1{
    height: 50vh;
  }

  main .block2{
    height: 175vh;
  }

  main .block2 .container {
    padding: 20px;
    margin: auto;
  }
  main .block2 .container .box-container{
    display: flex;
    flex-direction: column;
  }

  main .block4 .container{
    padding: 20px;
    margin: auto;
  }

  .footer{
    height: 400px;
  }

  .footer .footerContainer{
    gap: 30px;
  }

  .footer .footerContainer .mainBox{
    flex-direction: column;
    gap: 10px;
  }

  .footer .footerContainer .mainBox .box2{
    align-self: flex-end;
  }

  #showAllPosts #displayPosts .box-container .box{
    margin: auto;
  }

  #postContainer{
    padding: 0;
  }

  #postContainer #postImage{
    width: 100%;
  }

  #postContainer #textContent{
    padding: 20px 5px;
  }

  #postContainer #textContent h1{
    font-size: 20px;
    margin-bottom: 20px;
  }

  #postContainer #textContent p{
    font-size: 16px;
  }

  .postForm{
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    padding: 0;
    gap: 20px;
  }

  .postForm .RTEcontainer{
    width: 100%;

  }
}
